#title{
  background-color: red;
}
nav{
background-color: red;
}
.container-fluid{
padding: 3% 15%;
}
h1{
  font-family: 'Anonymous Pro', monospace;
  line-height: 1.5;
  font-size: 3em;
}
